.root{
    -fx-background-color: #fffbdc;   /*root background color*/
    -fx-text-fill: #a2a2a2;
    -fx-focus-color: transparent;

}

.text-class{
     -fx-fill: #f4e2f4;
 }

.text-selected{
    -fx-fill: #272327;
}

/*remove list focus*/
.list-view:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}
/*remove table focus*/
.table-view:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

/*no highlight for text area in help window*/
.text-area:focused{
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}


/*default hover and click system for buttons*/
.button{
    -fx-background-radius: 0;
    -fx-background-color: #576067;
    -fx-text-fill: #f4e2f4;

}


.button:hover{

    -fx-background-color: #484e54;

    -fx-font-weight: bold;
}
.button:pressed{

    -fx-font-weight: normal;
}

/*
style for label
 */
.label{
    -fx-text-fill: #282828;
}


.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0; /* its make really one-pixel-border */
    -fx-border-color: #5b5453;
}

/*style for name sayer panel*/
.nameSayer-hbox{
    -fx-background-color: #f2b632;

}


/*css for mictest background */
.mic-bar > .track {
    -fx-control-inner-background: #fbd8d7;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 0, 0, 0; /* 10, 9, 8 */

}

/*css for mictest bar */
.mic-bar > .bar {
    -fx-background-color: #931f18;
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}



.scene-label{
    -fx-text-fill: #fff5d1;
    -fx-font-weight: bold;
}



.button-panel-background{
    -fx-background-color: #f2b632;
}


.helpWindowBack{
    -fx-background-color: #665f5e;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

/*list style

 */
.list-view{
    -fx-background-color: #677077;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #87969d;

}

.list-cell{
    -fx-text-fill: white;
    -fx-background-color: #677077;
}

.list-cell:hover {

    -fx-background-color: #30344a;

}

/*table style

 */
.table-view{
    -fx-background-color: #677077;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #7c8690;
    -fx-fill: #f4e2f4;
}
.table-row-cell{
    -fx-background-color: #677077;
    -fx-table-cell-border-color: #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected>.table-cell:filled,
.table-cell:selected:filled {
    -fx-background-color: #87969d;
}

.table-row-cell:hover{
    -fx-background-color: #30344a;
}




/*
Stylin for all scroll bars
 */


/*
track
 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #677077;
    -fx-border-color:derive( #1c1c1c,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:0em;
}

/*
thumb
 */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive( #434c53,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
}

.radio-button{
    -fx-text-fill: #000000;
}