
.button-menu-background{
    -fx-background-color: #665f5e;
}


.button{
    -fx-background-color: #f2b632;
}

.button:hover{
    -fx-background-color: #f2b632;
    -fx-text-fill: #595159;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-text-fill: #595159;
    -fx-font-weight: normal;
}