
.button-menu-background{
    -fx-background-color: #665f5e;
}


.button{
    -fx-background-color: #ff984d;
}

.button:hover{

    -fx-background-color: #e17e49;
    -fx-text-fill: #fff7ff;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-text-fill: #fff7ff;
    -fx-font-weight: normal;
}