.root{
    -fx-background-color: #a49f97;   /*root background color*/
    -fx-text-fill: #fff;
}

/*default hover and click system for buttons*/
.button{
    -fx-background-radius: 0;
    -fx-background-color: #bb5e56;
    -fx-text-fill: #fff7ff;

}
.button:hover{

    -fx-background-color: #d16858;
    -fx-text-fill: #fff7ff;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-text-fill: #fff7ff;
    -fx-font-weight: normal;
}

.label{
    -fx-text-fill: #eeeeee;
}




.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0; /* its make really one-pixel-border */
    -fx-border-color: #968a81;
}

/*style for name sayer panel*/
.nameSayer-hbox{
    -fx-background-color: #665f5e;

}