.root{
    -fx-background-color: #0a3d62;   /*root background color*/
}

/*default hover and click system for buttons*/
.button{
    -fx-background-radius: 0;
    -fx-background-color: #e58e26;
    -fx-text-fill: #38383e;

}
.button:hover{

    -fx-text-fill: #232329;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-text-fill: #38383e;
    -fx-font-weight: normal;
}

.label{
    -fx-text-fill: #fff;
    -fx-
}

.tab{
    -fx-background-radius: 0;
}

/*separate class for recording and mic testing button */

.button-recording{
    -fx-background-color: #dfe6e9;
    -fx-background-radius: 0;
    -fx-text-fill: #535a5c;
    -fx-font-weight: bold;
}
.button-recording:hover{
    -fx-background-color: #edf4f7;
    -fx-text-fill: #2d3436;
    -fx-font-weight: bold;

}
.button-recording:pressed{
    -fx-text-fill: #535a5c;
    -fx-background-color: #dfe6e9;
    -fx-font-weight: bold;
}


/*will add image later on*/
.button-mic{

    -fx-font-weight: bold;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 2 2 0; /* its make really one-pixel-border */
    -fx-border-color: #e58e26;
}